@keyframes move {
    0% {
        left: 0%;
    }
    50% {
        left: 40%;
    }
}
@keyframes hide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#popup {
    position: relative;
    animation-name: hide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.box {
    width: 30%;
    color: ivory;
    height: 98%;
    margin: 1%;
    padding: 1%;
    border: 5px solid ivory;
    float: left;
  }

  .m{
    width: 60%;
    color: ivory;
    float: right;
    border: 1px solid ivory;
    margin: 1%;
    padding: 5%;
  }
  legend{
      padding: 10px;
  }

  #list{
      font-size: larger;
      background-color:transparent;
  }

  hr{
    border:0.2px solid rgb(177, 177, 175);
  }