<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
            {% block head %}
            {% endblock %}
        <style>
            body{
                background-image: url('https://i.pinimg.com/736x/6e/5f/bc/6e5fbc11a536baef961a6a09436e5ad3.jpg');
                background-repeat: no-repeat;
                background-size:cover; 
                
            }
        </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>