{% extends 'base_home.html' %}
{% block head %}
<title>Home</title>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/home.js"></script>
{% endblock %}

{% block body %}

<fieldset class="box">
  <legend> All Channels &nbsp; &nbsp;<button id="create" class="btn btn-info">+ Channel</button><br></legend>
  
  {% if error %}
  <p class="error" style="color: crimson;">{{ error }}</p>
  {% endif %}
  <div id="popup" style="overflow: hidden;">
    <form id="newchannel" action="{{ url_for('create') }}" method="POST">
      <label style="color: ivory;">Channel Name</label>
      <input type="text" name="channelname" required autocomplete="off"  style="width: 60%;"autofocus  class="form-control">
      <br>
      <input type="submit" id="createbutton" class="btn btn-dark" value="Create"></button>
    </form>
  </div>
  <br>
  {%- if not channels -%}
    <center style="color: ivory;">No channels yet.</center>
  {%- else -%}
    <div class="container" style="color: ivory;">
    {%- if channels -%}
    {%- for channel in channels -%}
    <hr>
    <div class="row" id="list">
      <form action="{{ url_for('info',cur_channel=channel) }}" method="POST"><button id="disp" class="btn btn-link" >{{ channel }}</button></form>
    </div> 
    
    {%- endfor -%}
    {%- endif -%}
    </div>
  {%- endif -%}

</fieldset>

{% if cur_channel %}
<fieldset class="m" style="height: 100%;">
  <legend>{{ cur_channel.upper() }}
  <button type="submit" id="leave" style="float: right; width: 15%;"class="btn btn-outline-warning">Leave</button> &nbsp; &nbsp;
  <button type="submit" id="join" style="width: 15%; padding-left: 3%;"class="btn btn-outline-info">Join</button>&nbsp; &nbsp;</legend>
  <p class="curchannel" style="display: none;">{{ cur_channel}}</p>
  <div class="prev-msg">
{% if channelMessages %} 
    {% for one in channelMessages %}
    <p class="color">{{ one['name'] }} - {{ one['time'] }}</p>
    <p>{{ one['msg'] }}</p>
    {% endfor %}
{% endif %}
  </div>
  <form id="chat-window">
    <textarea class="form-control" id="chat" style="width: 50%; color: thistle; background: transparent;" rows="4" required autocomplete="off" autofocus></textarea>
    <br>
    <button type="submit" id="send" class="btn btn-success btn-sm">Send</button>
  </form>
</fieldset>
{% endif %}



{% endblock %}


